In [3]:
import pandas as pd
import numpy as np

In [50]:
with open(r'C:\Users\vitor\Documents\M_dias\Análises_jaboatao\cpp_tratadas\cpp_09_abril_a_novembro.csv', encoding='utf-8') as g:
    df_cpp = pd.read_csv(g, sep=',')

    
df_cpp

,DATA,TURNO,LINHA / PROCESSO,CÓDIGO DO PRODUTO,ORDEM,DESCRIÇÃO PRODUTO,PRODUÇÃO ACABADA (Cx ou Fd),PRODUÇÃO ACABADA (Kg),PRODUÇÃO PROGRAMADA (Kg),PRODUÇÃO REAL (kg)
0,01/04/2022,C,LB09,75078,9778529,VIT TRELOSO RECH CHOC 30X130,602.000,2.348,6.739,5.417
1,01/04/2022,B,LB09,75179,9778514,VIT TRELOSO RECH CHOCOLATE 30X40G,872.000,1.046,2.392,1.051
2,01/04/2022,C,LB09,75179,9778514,VIT TRELOSO RECH CHOCOLATE 30X40G,860.000,1.032,2.392,1.044
3,01/04/2022,B,LB09,75078,9778529,VIT TRELOSO RECH CHOC 30X130,1.007,3.927,6.739,5.015
4,01/04/2022,B,LB09,75077,9779065,VIT TREL RECH CHOC 20X390,549.000,4.282,5.366,4.299
...,...,...,...,...,...,...,...,...,...,...
1640,12/11/2022,C,LB09,75376,10211362,VIT TRELOSO RECH FLOCOS 36X120G,1.882,8.130,11.012,8.383
1641,12/11/2022,C,LB09,75378,10212452,VIT TRELOSO RECH BRIGADEIRO 36X120G,731.000,3.158,3.158,3.256
1642,12/11/2022,A,LB09,75376,10211362,VIT TRELOSO RECH FLOCOS 36X120G,3.221,13.915,11.012,14.032
1643,13/11/2022,C,LB09,75399,10211571,VIT TRELOSO CHOCORESCO RECH BAUNILHA 18X480G,188.000,1.624,13.764,1.624
1644,13/11/2022,C,LB09,75370,10211570,VIT TRELOSO CHOCORESCO RECH BAUNILHA 36X120G,2.220,9.590,19.272,9.590

In [52]:
with open(r'C:\Users\vitor\Documents\M_dias\Análises_jaboatao\Consumo-gas\Consumo_de_gas_Linha_09.csv', encoding='utf-8') as f:
    df_con = pd.read_csv(f, sep=',')
    df_con['time'] = df_con['Time'].str.replace('-', '/')
    df_con = df_con.dropna()
    df_con[['date', 'hora']] = df_con['time'].str.split(expand=True)
    df_con[['ano', 'mes', 'dia']] = df_con['date'].str.split('/', expand=True)
    df_con['Data1'] = df_con['dia'].map(str) + '/' + df_con['mes'].map(str) + '/' + df_con['ano'].map(str) + ' ' + df_con['hora'].map(str)
    df_con = df_con[['Data1', 'Fábrica 2 > Linha 09 de Biscoitos > Forno']]
    df_con = df_con.rename(columns={'Data1': 'Time', 'Fábrica 2 > Linha 09 de Biscoitos > Forno': 'consumo'})


df_con.info()
df_con.head(2)


# df.columns.values[1] = 'Estudantes_Idade'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4297 entries, 9 to 5676
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         4297 non-null   object
 1   consumo_l09  4297 non-null   object
dtypes: object(2)
memory usage: 100.7+ KB

                   Time consumo_l09
9   01/04/2022 12:00:00     36.8 m³
10  01/04/2022 13:00:00      459 m³

In [53]:
# teste
def correcao_varredura_consumo(df_cpp, df_consumo):
  """
        Funcao responsavel por agrupar o consumo no turno
        Arguments:
          df_cpp: dataframe -- Dataframe com as colunas: Inicio, Fim, Turno e Produção
        Return:
          Time_i: list -- 
          Time_f: list -- 
          consumo_: list -- 
          produ__: list -- 
          tur__: list -- 
  """
  Time_i = []
  Time_f = []
  consumo_ = []
  produ__ = []
  tur__ = []
  cod_produto = []  

  for data_, turno, prod_, cod_prod in zip(df_cpp.DATA,
                                df_cpp.TURNO, df_cpp['PRODUÇÃO REAL (kg)'], df_cpp['CÓDIGO DO PRODUTO']):
    
    if turno == 'A':
      h_inicio = ' 06:00:00'
      h_fim = ' 13:59:59'
    
    elif turno == 'B':
      h_inicio = ' 14:00:00'
      h_fim = ' 21:59:59'
    
    else:
      h_inicio = ' 22:00:00'
      h_fim = ' 05:59:59'

    inicio = data_ + h_inicio
    fim = data_ + h_fim
    
    mask = (df_consumo['Time'] >= inicio) & (df_consumo['Time'] <= fim) 
    grupo = df_consumo.loc[mask]
    
    teste_2 = []
    for j in grupo.consumo:  # Substituir SEMPRE
      j = j.split(' m³')[0]
      teste_2.append(float(j))
    
    grupo.consumo = teste_2   # Substituir SEMPRE

    Time_i.append(inicio)
    Time_f.append(fim)
    consumo_.append(np.sum(grupo.consumo)) #Substituir SEMPRE
    produ__.append(prod_)
    tur__.append(turno)
    cod_produto.append(cod_prod)
    

  return Time_i, Time_f, consumo_, produ__, tur__, cod_produto

In [54]:
Time_i, Time_f, consumo_, produ__, tur__, cod_produto = correcao_varredura_consumo(df_cpp, df_con)

data_ = {'Time_inicio': Time_i,
          'Time_fim': Time_f,
            'Producao_Kg': produ__,
            'consumo_Nm³': consumo_,
            'Turno': tur__,
             'cod.Produto': cod_produto}
new_df = pd.DataFrame(data_)

C:\Users\vitor\AppData\Local\Temp\ipykernel_7528\1073960272.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grupo.consumo_l09 = teste_2   # Substituir SEMPRE

In [55]:
new_df

,Time_inicio,Time_fim,Producao_Kg,consumo_Nm³,Turno,cod.Produto
0,01/04/2022 22:00:00,01/04/2022 05:59:59,5.417,0.0,C,75078
1,01/04/2022 14:00:00,01/04/2022 21:59:59,1.051,3665.0,B,75179
2,01/04/2022 22:00:00,01/04/2022 05:59:59,1.044,0.0,C,75179
3,01/04/2022 14:00:00,01/04/2022 21:59:59,5.015,3665.0,B,75078
4,01/04/2022 14:00:00,01/04/2022 21:59:59,4.299,3665.0,B,75077
...,...,...,...,...,...,...
1640,12/11/2022 22:00:00,12/11/2022 05:59:59,8.383,0.0,C,75376
1641,12/11/2022 22:00:00,12/11/2022 05:59:59,3.256,0.0,C,75378
1642,12/11/2022 06:00:00,12/11/2022 13:59:59,14.032,587.0,A,75376
1643,13/11/2022 22:00:00,13/11/2022 05:59:59,1.624,0.0,C,75399
1644,13/11/2022 22:00:00,13/11/2022 05:59:59,9.590,0.0,C,75370

In [56]:
new_df.to_csv(r'C:\Users\vitor\Documents\M_dias\Análises_jaboatao\Tabelas_p_enviar\consumo_l09JB.csv', index=False, encoding='utf-8')

In [ ]:
# def correcao_varredura_consumo(df_cpp, df_consumo):
#     """
#         Funcao responsavel por agrupar o consumo no turno
#         Arguments:
#           df_cpp: dataframe -- Dataframe com as colunas: Inicio, Fim, Turno e Produção
#         Return:
#           Time_i: list -- 
#           Time_f: list -- 
#           consumo_: list -- 
#           produ__: list -- 
#           tur__: list -- 
#     """
#     Time_i = []
#     Time_f = []
#     consumo_ = []
#     produ__ = []
#     tur__ = []

#     for data_, turno, prod_ in zip(df_cpp.DATA,df_cpp.TURNO, df_cpp['PRODUÇÃO REAL (kg)']):
#         if turno == 'A':
#             h_inicio = ' 06:00:00'
#             h_fim = ' 13:59:59'
    
#         elif turno == 'B':
#             h_inicio = ' 14:00:00'
#             h_fim = ' 21:59:59'
    
#         else:
#             h_inicio = ' 22:00:00'
#             h_fim = ' 05:59:59'

#         inicio = data_ + h_inicio
#         fim = data_ + h_fim
    
#         mask = (df_consumo['Time'] >= inicio) & (df_consumo['Time'] <= fim) # Agrupando datas de um intervalo
#         grupo = df_consumo.loc[mask]
#     teste_2 = []
#     for j in grupo.consumo_l06: # sempre mudar
# #         j = j.split(' m³')[0]
#         print(j)
#         teste_2.append(float(j))
        
#     grupo.grupo.consumo_l06 = teste_2
# #     print(teste_2)
    
#     Time_i.append(inicio)
#     Time_f.append(fim)
#     consumo_.append(np.sum(grupo.consumo_l06))
#     produ__.append(prod_)
#     tur__.append(turno)
# #     print(grupo)
    

#     return Time_i, Time_f, consumo_, produ__, tur__

In [ ]:
def correcao_varredura_consumo(df_cpp, df_consumo):
  """
        Funcao responsavel por agrupar o consumo no turno
        Arguments:
          df_cpp: dataframe -- Dataframe com as colunas: Inicio, Fim, Turno e Produção
        Return:
          Time_i: list -- 
          Time_f: list -- 
          consumo_: list -- 
          produ__: list -- 
          tur__: list -- 
  """
  Time_i = []
  Time_f = []
  consumo_ = []
  produ__ = []
  tur__ = []

  for data_, turno, prod_ in zip(df_cpp.DATA,
                                df_cpp.TURNO, df_cpp['PRODUÇÃO REAL (kg)']):
    
    if turno == 'A':
      h_inicio = ' 06:00:00'
      h_fim = ' 13:59:59'
    
    elif turno == 'B':
      h_inicio = ' 14:00:00'
      h_fim = ' 21:59:59'
    
    else:
      h_inicio = ' 22:00:00'
      h_fim = ' 05:59:59'

    inicio = data_ + h_inicio
    fim = data_ + h_fim
    
    mask = (df_consumo['Time'] >= inicio) & (df_consumo['Time'] <= fim) 
    grupo = df_consumo.loc[mask]
    
    teste_2 = []
    for j in grupo.consumo_l10:  # Substituir SEMPRE
      j = j.split(' m³')[0]
      teste_2.append(float(j))
    
    grupo.consumo_l10 = teste_2   # Substituir SEMPRE

    Time_i.append(inicio)
    Time_f.append(fim)
    consumo_.append(np.sum(grupo.consumo_l10)) #Substituir SEMPRE
    produ__.append(prod_)
    tur__.append(turno)
    

  return Time_i, Time_f, consumo_, produ__, tur__