In [26]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Função para Agrupar CPP + ConsumoGás

In [27]:
def correcao_varredura_consumo(df_cpp, df_consumo):
    """
        Funcao responsavel por agrupar o consumo no turno
        Arguments:
          df_cpp: dataframe -- Dataframe com as colunas: Inicio, Fim, Turno e Produção
        Return:
          Time_i: list -- 
          Time_f: list -- 
          consumo_: list -- 
          produ__: list -- 
          tur__: list -- 
    """
    Time_i = []
    Time_f = []
    consumo_ = []
    produ__ = []
    tur__ = []
    cod_produto = []

    for data_, turno, prod_, cod_prod in zip(df_cpp.DATA,df_cpp.TURNO, df_cpp['PRODUÇÃO REAL (kg)'], 
                                             df_cpp['CÓDIGO DO PRODUTO']):
        if turno == 'A':
            h_inicio = ' 06:00:00'
            h_fim = ' 13:59:59'
    
        elif turno == 'B':
            h_inicio = ' 14:00:00'
            h_fim = ' 21:59:59'
    
        else:
            h_inicio = ' 22:00:00'
            h_fim = ' 05:59:59'

        inicio = data_ + h_inicio
        fim = data_ + h_fim
    
        mask = (df_consumo['Time'] >= inicio) & (df_consumo['Time'] <= fim) # Agrupando datas de um intervalo
        grupo = df_consumo.loc[mask]
        
        teste_2 = []
        for j in grupo.consumo: # sempre mudar
            try:
                j = j.split(' m³')[0]
                teste_2.append(float(j))
            except:
                teste_2.append(float(j))
        
        grupo.consumo = teste_2
    
        Time_i.append(inicio)
        Time_f.append(fim)
        consumo_.append(np.sum(grupo.consumo))
        produ__.append(prod_)
        tur__.append(turno)
        cod_produto.append(cod_prod)
    

    return Time_i, Time_f, consumo_, produ__, tur__, cod_produto

# Arquivo de Produção

In [28]:
with open(r'C:\Users\vitor\Documents\M_Dias\cpp_filtrada_linha\cpp_09_abril_a_novembro.csv', encoding='utf-8') as g:
    df_cpp = pd.read_csv(g, sep=',')

    
df_cpp.info()
df_cpp.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1645 entries, 0 to 1644
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATA                         1645 non-null   object
 1   TURNO                        1645 non-null   object
 2   LINHA / PROCESSO             1645 non-null   object
 3   CÓDIGO DO PRODUTO            1645 non-null   int64
 4   ORDEM                        1645 non-null   int64
 5   DESCRIÇÃO PRODUTO            1645 non-null   object
 6   PRODUÇÃO ACABADA (Cx ou Fd)  1645 non-null   float64
 7   PRODUÇÃO ACABADA (Kg)        1645 non-null   object
 8   PRODUÇÃO PROGRAMADA (Kg)     1631 non-null   float64
 9   PRODUÇÃO REAL (kg)           1645 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 128.6+ KB

,DATA,TURNO,LINHA / PROCESSO,CÓDIGO DO PRODUTO,ORDEM,DESCRIÇÃO PRODUTO,PRODUÇÃO ACABADA (Cx ou Fd),PRODUÇÃO ACABADA (Kg),PRODUÇÃO PROGRAMADA (Kg),PRODUÇÃO REAL (kg)
0,01/04/2022,C,LB09,75078,9778529,VIT TRELOSO RECH CHOC 30X130,602.0,2.348,6.739,5.417
1,01/04/2022,B,LB09,75179,9778514,VIT TRELOSO RECH CHOCOLATE 30X40G,872.0,1.046,2.392,1.051

# Arquivo de consumo de gás

In [29]:
with open(r'C:\Users\vitor\Documents\M_Dias\consumo_gas\Consumo_gas_Linha_09_stone.csv', encoding='utf-8') as f:
    df_con = pd.read_csv(f, sep=',')
    df_con.info()
    df_con['time'] = df_con['Time'].str.replace('-', '/')
    df_con = df_con.dropna()
    df_con[['date', 'hora']] = df_con['time'].str.split(expand=True)
    df_con[['ano', 'mes', 'dia']] = df_con['date'].str.split('/', expand=True)
    df_con['Data1'] = df_con['dia'].map(str) + '/' + df_con['mes'].map(str) + '/' + df_con['ano'].map(str) + ' ' + df_con['hora'].map(str)
    df_con = df_con[['Data1', 'Fábrica 2 > Linha 09 de Biscoitos > Forno']]
    df_con = df_con.rename(columns={'Data1': 'Time', 'Fábrica 2 > Linha 09 de Biscoitos > Forno': 'consumo'})


print('---///---'*6)
display(df_con.head(2))
print('---///---'*6)
print(df_con.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5688 entries, 0 to 5687
Data columns (total 2 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Time                                       5688 non-null   object
 1   Fábrica 2 > Linha 09 de Biscoitos > Forno  4297 non-null   object
dtypes: object(2)
memory usage: 89.0+ KB
---///------///------///------///------///------///---

                   Time  consumo
9   01/04/2022 12:00:00  36.8 m³
10  01/04/2022 13:00:00   459 m³

---///------///------///------///------///------///---
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4297 entries, 9 to 5676
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     4297 non-null   object
 1   consumo  4297 non-null   object
dtypes: object(2)
memory usage: 100.7+ KB
None

# Criando um Dataframe unido

In [30]:
Time_i, Time_f, consumo_, produ__, tur__, cod_produto = correcao_varredura_consumo(df_cpp, df_con)

data_ = {'Time_inicio': Time_i,
          'Time_fim': Time_f,
            'Producao_Kg': produ__,
            'consumo_Nm³': consumo_,
            'Turno': tur__,
             'cod.Produto': cod_produto}
new_df = pd.DataFrame(data_)

In [31]:
new_df

,Time_inicio,Time_fim,Producao_Kg,consumo_Nm³,Turno,cod.Produto
0,01/04/2022 22:00:00,01/04/2022 05:59:59,5.417,0.0,C,75078
1,01/04/2022 14:00:00,01/04/2022 21:59:59,1.051,3665.0,B,75179
2,01/04/2022 22:00:00,01/04/2022 05:59:59,1.044,0.0,C,75179
3,01/04/2022 14:00:00,01/04/2022 21:59:59,5.015,3665.0,B,75078
4,01/04/2022 14:00:00,01/04/2022 21:59:59,4.299,3665.0,B,75077
...,...,...,...,...,...,...
1640,12/11/2022 22:00:00,12/11/2022 05:59:59,8.383,0.0,C,75376
1641,12/11/2022 22:00:00,12/11/2022 05:59:59,3.256,0.0,C,75378
1642,12/11/2022 06:00:00,12/11/2022 13:59:59,14.032,587.0,A,75376
1643,13/11/2022 22:00:00,13/11/2022 05:59:59,1.624,0.0,C,75399
1644,13/11/2022 22:00:00,13/11/2022 05:59:59,9.590,0.0,C,75370

# Salvando o arquivo em csv

In [56]:
# new_df.to_csv(r'C:\Users\vitor\Documents\M_dias\Análises_jaboatao\Tabelas_p_enviar\consumo_l09JB.csv', index=False, encoding='utf-8')